<div class="weather-container">
  <h2>Weather App</h2>

  <!-- Address Input -->
  <input #addressInput type="text" placeholder="Enter address" [(ngModel)]="address" />
  <button (click)="getWeather()">Get Weather</button>
  <button (click)="clearAddress()" [disabled]="!address">Clear</button>

 <!-- Error Message Display -->
 <div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

  <!-- Weather Data Display -->
  <div *ngIf="weatherData" class="weather-details">
    <h3>Weather for: {{ addressText}}</h3>

    <!-- Cache Indicator -->
    <p class="indicator" [ngClass]="{'cached': this.weatherData.fromCache, 'not-cached': !this.weatherData.fromCache}">
      {{ this.weatherData.fromCache ? 'Data from Cache' : 'Live Data Retrieved' }}
    </p>

    <table class="forecast-table">
      <thead>
        <tr>
          <th>Current Temperature</th>
          <th>Condition</th>
          <th>High Temp (°C)</th>
          <th>Low Temp (°C)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ weatherData.data.temp }}</td>
          <td>{{ weatherData.data.description }}</td>
          <td>{{ weatherData.data.high }}</td>
          <td>{{ weatherData.data.low }}</td>
        </tr>
      </tbody>
    </table>

     <!-- Extended Forecast Table -->
     <div *ngIf="weatherData.data.extendedWeatherData">
      <h3>Extended Forecast</h3>
      <table class="forecast-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Min Temp (°C)</th>
            <th>Max Temp (°C)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let forecast of weatherData.data.extendedWeatherData.forecasts">
            <td>{{ forecast.dt | date:'shortDate' }}</td>
            <td>{{ forecast.temp_min }}</td>
            <td>{{ forecast.temp_max }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

